---
import Details from "@components/Details.astro";
const url = new URL(Astro.request.url);
const lang = url.pathname.split("/")[1] === "en" ? "en" : "lt";
---

<footer>
	<div class="contact-wrapper">
		<div class="contact">
			<Details {lang} />
		</div>
	</div>
	<hr />
	<div class="subfooter">
		<p>&#169; Couple Dialogue 2010-2023</p>
	</div>
</footer>

<style>
	footer {
		align-items: center;
		padding: 2em 0 0 0;
		background-color: var(--color-primary);
		color: var(--color-background);
	}

	.contact-wrapper {
		max-width: 85%;
		margin: auto;
		padding: 0 0 2em 0;
	}

	.contact {
		display: grid;
		gap: 2em;
	}

	@media (min-width: 768px) {
		.contact {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	img {
		max-height: 2em;
	}

	hr {
		color: var(--color-background);
		opacity: 0.5;
	}

	.subfooter {
		display: flex;
		justify-content: center;
		font-size: calc(var(--base-font-size) - 30%);
		opacity: 0.5;
	}
</style>
