---
import BaseHead from "@components/BaseHead.astro";
import MainTalk from "@sections/MainTalk.astro";
import MainContact from "@sections/MainContact.astro";

const { lang, title, description, permalink } = Astro.props;
---

<html {lang}>
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body><style></style>
</html>
